{% comment %}
    Renders a empty product card

    Usage:
    {% render 'product-card-placeholder' %}
{% endcomment %}

<div class="card-wrapper">
  <a class="full-width-link"></a>

  <div class="card card--text-only card--soft card--product">
    <div class="card__inner">
      <div class="card__content"></div>
    </div>
  </div>

  <div class="card-information">
    <div class="card-information__wrapper">
    </div>
  </div>
</div>
